<header style="background-image: url({{restaurant.image}});", class="restaurant_page">
    <h1>{{restaurant.name}}
        <section class='edit_restaurant'>
            <form action='/edit/restaurants/{{restaurant.id}}/edit_name_image' method="GET">
            <button>Edit name or image</button>
            </form>
            <form action='/edit/restaurants/{{restaurant.id}}/add_menu' method="GET">
            <button>Add menu</button>
            </form>
            <form action='/edit/restaurants/{{restaurant.id}}/delete' method="POST">
            <button>Delete</button>
            </form>
        </section>
    </h1>
</header>
<section>
    {{#each menus}}
       <article class="menu_card">
            <h2>{{this.title}}</h2>
            <dl>
                {{#each this.items}}
                    <div class="menu">
                        <dt>{{this.name}}</dt>
                        <dd>£{{this.price}}</dd>
                    </div>
                {{/each}}
            </dl>
        </article>
    {{/each}}
</section>
