<header style="background-image: url({{restaurant.image}});", class="restaurant_page">
    <h1>{{restaurant.name}}
        <section class='edit_restaurant'>
            <form action='/edit/restaurants/{{restaurant.id}}/edit_name_image' method="GET">
            <button>Edit name or image</button>
            </form>
            <form action='/edit/restaurants/{{restaurant.id}}/delete' method="POST">
            <button>Delete</button>
            </form>
        </section>
    </h1>
</header>
<section>
    {{#each menus}}
       <article class="menu_card">
            <h2>
                {{this.title}}
                <br>
                <form action='/edit/restaurants/{{../restaurant.id}}/edit_menu_name/{{this.id}}' method="GET">
                    <button>Edit name</button>
                </form>
                <form action='/edit/restaurants/{{../restaurant.id}}/delete_menu/{{this.id}}' method="POST">
                    <button>Delete menu</button>
                </form>
            </h2>
            {{#each this.items}}
                <div class="menu">
                    {{this.name}}
                    £{{this.price}}
                    <form class="item_button" action='/edit/restaurants/{{../../restaurant.id}}/{{../this.id}}/edit_item/{{this.id}}' method="GET">
                        <button class="btn">✏️</button>
                    </form>
                    <form class="item_button" action='/edit/restaurants/{{../../restaurant.id}}/delete_item/{{this.id}}' method="POST">
                        <button class="btn">❌</button>
                    </form>
                </div>
            {{/each}}
            <form action='/edit/restaurants/{{../restaurant.id}}/add_item/{{this.id}}' method="GET">
            <button>Add item</button>
            </form>
        </article>
    {{/each}}
     <form action='/edit/restaurants/{{restaurant.id}}/add_menu' method="GET">
     <button>Add menu</button>
     </form>
</section>
