<main>
    <div><h1>Edit item</h1></div>
    <aricle>
        <form action="/edit/restaurants/{{restaurant.id}}/{{menu.id}}/edit_item/{{item.id}}" method="POST">
            <label>New name</label>
            <input name="name" type="text" value="{{item.name}}" required/>
            <br>
            <label>New price</label>
            <input name="price" value="{{item.price}}" required/>
            <br>
            <button>Edit item</button>
        </form>
    </aricle>
</main>
