<header style="background-image: url({{restaurant.image}});", class="restaurant_page">
    <h1>{{restaurant.name}}</h1>
</header>
<section>
    {{#each menus}}
       <article class="menu_card">
            <h2>{{this.title}}</h2>
            <dl>
                {{#each this.items}}
                    <div class="menu">
                        <dt>{{this.name}}</dt>
                        <dd>£{{this.price}}</dd>
                    </div>
                {{/each}}
            </dl>
        </article>
    {{/each}}
</section>
